

body {
width: 100%;
}

p {
  font-size: 20px;
}
/* b {
  color: #fff;
} */
hr {
  background-color: #6c757d;
}

/* #jumbotron-w {
  background-color:rgba(54,38,77,0.95);

} */
.jumbotron {
  margin: 0px;
  padding: 0rem 0rem;
  background-color:rgba(54,38,77,0.95);

}
.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0px;
  height: 580px;
  background-image: url("../img/Wild-Card-Casino-and-Bar.jpg");
  background-color: rgba(0,0,0,.1);
  background-size: 100%;
}
#wild-card-intro {
  background-image: url("../img/wood-591631_1280.jpg");
  background-size: 100%;
}
#wild-card-info {
  background-image: url("../img/wood-591631_1280.jpg");
  background-size: 100%;
}


#sign-up-player-card {
  background-image: url("../img/Wild-Card-Saloon-Casino.jpg");
  background-size: 100%;
  height: 500px;
}
#sign-up-player-card-mem-text {
  text-align: center;
  padding-top: 200px;
}

#wild-card-logo {
  margin-top: 10px;
  margin-bottom: 10px;

}

.donate {
  float: right;
  margin-top: 40px;
  margin-bottom: 10px;


}
.btn-group-lg>.btn, .btn-lg {
  padding: .5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0rem;
}

@media (max-width: 500px) {
  .donate {
    float: right ;
    margin-right: 22px;
    margin-top: 20px;
  
  }
  #header-button {
    font-size: 1rem;  
  }
}
#slider-bg {
  background-color: lightgrey;
}
#h1-background{
  background-color: lightgrey;
}
.alignleft {
  float: left;
  margin: 0.35em 2.15em 0.35em 0;
}

.carousel-item {
  height: 450px;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: transform .4s ease-in-out,-webkit-transform .4s ease-in-out;
}

.carousel {
  position: relative;
}


.carousel.pointer-event {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.secondcardrow {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0,0,0,.125); 
}

.servicepersonnelandfamily {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0,0,0,.125); 
}

.leadershipknowledge {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0,0,0,.125); 
}


.dropdown-menu[x-placement^="top"], .dropdown-menu[x-placement^="right"], .dropdown-menu[x-placement^="bottom"], .dropdown-menu[x-placement^="left"] {
  right: auto;
  bottom: auto;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1000;
  display: none;
  float: right;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #dc3545;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0rem;
  /* border-radius: 0.25rem; */


}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: inherit;
  white-space: nowrap;
  background-color: #dc3545;
  border: 0;
}

.dropdown-item:first-child {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.dropdown-item:last-child {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}


@media (max-width: 575.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-sm .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-md .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-xl .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-xl .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-xl .navbar-toggler {
    display: none;

  }
  /* .container {
    max-width: 100%;
  } */
}

.navbar-expand {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.navbar-expand .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.navbar-expand .navbar-toggler {
  display: none;
}



/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

#home-card-1 {
    background: url("../img/wild-card-saloon-2-2h1.jpeg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    opacity: 0.90;

}

#home-card-2 {
  background: url("../img/20799347_2172985316261573_4395825640200621899_n.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  opacity: 0.90;
}
/* https://cdn.pixabay.com/photo/2018/05/28/16/29/sport-3436358_1280.jpg */

#home-card-3 {
  background: url("../img/wild-card-saloon-3e2.jpeg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(54,38,77,0.95);
  height: 400px;
  opacity: 0.90;
}

#home-card-4{
  background: url("../img/Ways-to-give-hands-1797401_960_720.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  opacity: 0.90;

}
#home-card-5 {
  background: url("http://elkinstitute.us/wp-content/uploads/2016/08/IMG_1042.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  opacity: 0.90;
}


#home-card-6 {
  background: url("../img/shoptosupport.jpg") no-repeat center center;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: contain;
  height: 400px;
  opacity: 0.90;
  border-style: groove;

}
#home-card-7 {
  background: url("../img/shoptosupport.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  height: 400px;
  opacity: 0.90;
  border-style: groove;

}
#home-card-8 {
  background: url("../img/military-652355_1280.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;

  opacity: 0.90;
}

#home-card-9 {
  background: url("../img/shoptosupport.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    opacity: 0.90;
  }


#sharecard {
  background: url("https://cdn.pixabay.com/photo/2017/08/30/18/46/veteran-2698167_960_720.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  opacity: 0.90;
}

#testcard {
  background: url("../img/2019-Float-Carroll.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  opacity: 0.90;
}

.card-content-left {
  text-align: left;
}

#roski {
  background: url("http://elkinstitute.us/wp-content/uploads/2018/08/Screen-Shot-2018-02-21-at-11.40.33-AM.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 300px;
  opacity: 0.90;
}
#Raymond-Sterling {
  background: url("http://elkinstitute.us/wp-content/uploads/2016/08/Ray1-e1462337403399.jpg") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 300px;
  opacity: 0.90;
}
#Shelley-Nelson {
  background: url("http://elkinstitute.us/wp-content/uploads/2018/02/shelley-nelson.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 300px;
  opacity: 0.90;
}
#Michael-Arnold {
  background: url("http://elkinstitute.us/wp-content/uploads/2018/03/Elk-BOD-picture-2.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 300px;
  opacity: 0.90;
}
#Jeff-Mellinger {
  background: url("http://elkinstitute.us/wp-content/uploads/2018/02/mellinger.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 300px;
  opacity: 0.90;
}


/* #secondcardcontent {
  text-align: end;
  position: relative;
} */
#changinglivestext {
  color: gray;
}

#whitetextcard {
  color: #fff
}
.card-content {
  text-align: center;
  background-color: rgba(54,38,77,0.95);
}

#loftitle {
  text-align: center;
}
#Ways-to-Give-title {
  text-align: center;
}
#our-mission-title {
  text-align: center;
}
#news-events-media {
  text-align: center;
}

#donatet{
  text-align: center;

}
.donatefoot {
  width: 100%;
}

.btn-group-lg {
  border-radius: 0rem;
}

.contactfooter {
  position: center;
  text-align: center;
}

.card-title {
  position: center;
}
#footlinks {
  font-size: 13px;
}


#newscardimage {
  height: 300px;
}
